.App {
  margin: 0;
  padding: 0;
}

.App main {
  background: #111;
  height: 100dvh;
  position: relative;
  width: 100vw;
}

.App header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.App main .wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}
